<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>查询</title>
    <style>
        table.imagetable{
            font-family: verdana,arial,sans-serif;
            font-size:11px;color:#333333;
            border-width: 1px;
            border-color: #999999;
            border-collapse: collapse;}
        table.imagetable th{
            background:#b5cfd2 url('cell-blue.jpg');
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #999999;}
        table.imagetable td {
            background:#dcddc0 url('cell-grey.jpg');
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #999999;}
    </style>
</head>
<body>
<nav height="80px" class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark" >
        
        <a class="navbar-brand" href="#"> <img src="static/logo.jfif" width="30" height="30" class="d-inline-block align-top" alt="">  ERG3010 project </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('home') }}" >Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('view') }}">Our intersting findings</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">database search<span class="sr-only">(current)</span></a>
            </li>
            </ul>
        </div>
    </nav>
    <div>
        <img src="{{url_for('static', filename='b_4.jpg')}}" usemap="#image-map"/>
        

            <map name="image-map">
                <area target="" alt="Montana" title="Montana : 308" href="" coords="326,68,275,70,198,50,171,53,179,86,192,127,207,152,231,153,285,145,338,154,343,136,342,102,349,74" shape="poly">
                <area target="" alt="New Mexico" title="New Mexico : 356" href="" coords="342,425,242,321" shape="rect">
                <area target="" alt="Wyoming" title="Wyoming : 568" href="" coords="237,152,337,235" shape="rect">
                <area target="" alt="Colorado" title="Colorado : 088" href="" coords="252,240,358,319" shape="rect">
                <area target="" alt="North Dakoda" title="North Dakoda : 388" href="" coords="348,73,450,137" shape="rect">
                <area target="" alt="South Dakoda" title="South Dakoda : 468" href="" coords="342,141,462,201" shape="rect">
                <area target="" alt="Minnesota" title="Minnesota : 275" href="" coords="454,79,523,181" shape="rect">
                <area target="" alt="kansas" title="kansas : 207" href="" coords="372,270,486,326" shape="rect">
                <area target="" alt="Utah" title="Utah : 498" href="" coords="168,217,238,309" shape="rect">
                <area target="" alt="Arizona" title="Arizona : 049" href="" coords="142,317,236,428" shape="rect">
                <area target="" alt="Alaska" title="Alaska : 020" href="" coords="71,457,297,605,69,453,71,457,461,567" shape="rect">
                <area target="" alt="Texas" title="Texas : 486" href="" coords="344,344,394,337,402,369,449,395,502,396,513,460,506,491,448,527,448,563,429,561,361,477,334,489,302,472,278,427,342,424" shape="poly">
                <area target="" alt="Oklahoma" title="Oklahoma : 406" href="" coords="370,291,345,342,393,338,402,367,446,394,500,394,494,339,477,335,482,327,372,326" shape="poly">
                <area target="" alt="Louisiana" title="Louisiana : 226" href="" coords="505,410,562,407,558,442,589,456,599,471,601,487,576,492,542,481,527,484,512,478" shape="poly">
                <area target="" alt="arkansas" title="Arkansas : 056" href="" coords="494,335,562,403" shape="rect">
                <area target="" alt="Mississippi" title="Mississippi : 284" href="" coords="564,367,611,453" shape="rect">
                <area target="" alt="Alabama" title="Alabama : 014" href="" coords="610,359,668,455" shape="rect">
                <area target="" alt="Iowa" title="Iowa : 197" href="" coords="462,189,552,248" shape="rect">
                <area target="" alt="Missouri" title="Missouri : 297" href="" coords="471,257,490,289,489,336,584,335,563,289,533,254" shape="poly">
                <area target="" alt="Washington" title="Washington : 113" href="" coords="53,37,87,28,160,45,153,109,131,103,83,101,67,80,53,70" shape="poly">
                <area target="" alt="Oregon" title="Oregon : 410" href="" coords="66,82,70,95,101,109,128,105,151,114,154,130,138,138,138,153,132,161,131,183,34,165,17,155,46,66" shape="poly">
                <area target="" alt="california" title="california : 069" href="" coords="14,156,79,176,81,199,78,211,74,251,89,277,106,298,123,318,139,342,139,367,133,380,123,390,106,386,86,374,67,351,39,338,30,312,10,249,0,222,2,194" shape="poly">
                <area target="" alt="nevada" title="nevada : 329" href="" coords="82,176,74,252,138,333,142,316,166,312,166,221,174,207" shape="poly">
                <area target="" alt="Hawaii" title="Hawaii : 159" href="" coords="665,570,81" shape="circle">
                <area target="" alt="Florida" title="Florida : 124" href="" coords="666,447,672,461,695,461,717,475,737,517,768,543,812,543,762,469,747,431,720,444,680,439" shape="poly">
                <area target="" alt="Gerogia" title="Gerogia : 134" href="" coords="668,357,682,353,724,379,747,407,734,433,721,445,673,441" shape="poly">
                <area target="" alt="South Carolina" title="South Carolina : 454" href="" coords="687,354,720,341,791,355,789,364,751,395,747,405" shape="poly">
                <area target="" alt="Nroth Carolina" title="North Carolina : 374" href="" coords="683,350,684,342,720,314,816,289,821,314,792,354,721,340" shape="poly">
                <area target="" alt="Tennesse" title="Tennesse : 474" href="" coords="586,333,586,361,606,366,610,358,666,355,682,351,683,342,698,323,686,317" shape="poly">
                <area target="" alt="Illinois" title="Illinois : 175" href="" coords="558,207,552,242,536,252,586,331,605,306,613,281,594,199" shape="poly">
                <area target="" alt="Wisconsia" title="Wisconsia : 555" href="" coords="522,115,550,115,585,99,580,135,595,159,594,195,556,204,553,186,539,186,524,171" shape="poly">
                <area target="" alt="Michigan" title="Michigan : 265" href="" coords="594,195,653,212,676,204,678,169,675,138,667,129,658,120,631,108,617,98,606,95,585,85,566,80,551,91,536,110,551,115,582,97,580,135,597,158" shape="poly">
                <area target="" alt="Indiana" title="Indiana : 185" href="" coords="594,197,614,280,606,299,626,298,646,276,655,266,647,213" shape="poly">
                <area target="" alt="Ohio" title="Ohio : 395" href="" coords="650,215,654,265,692,276,700,262,714,249,714,223,699,203" shape="poly">
                <area target="" alt="Idaho" title="Idaho : 160" href="" coords="166,45,154,107,156,126,138,138,138,155,133,186,174,201,222,199,234,152,206,150,193,122" shape="poly">
                <area target="" alt="kentucky" title="kentucky : 214" href="" coords="657,267,626,297,609,299,589,328,686,314,698,296,691,277" shape="poly">
                <area target="" alt="virginia" title="virginia : 513" href="" coords="699,296,687,313,704,322,814,287,778,259,774,245,762,243,728,292" shape="poly">
                <area target="" alt="Pennsylvania" title="Pennsylvania : 423" href="" coords="705,203,717,222,715,238,763,237,777,231,799,218,811,213,807,206,789,181,747,191,727,188" shape="poly">
                <area target="" alt="New York" title="New York : 362" href="" coords="725,184,735,161,760,154,773,147,775,125,800,113,809,132,817,142,818,182,798,174,787,180,745,190" shape="poly">
                <area target="" alt="Maine" title="Maine : 231" href="" coords="837,94,846,103,860,137,898,87,876,44,849,46" shape="poly">
                <area target="" alt="新罕布尔什" title="新罕布尔什 : 331" href="" coords="839,100,839,111,834,128,841,146,865,143,853,124,847,103" shape="poly">
                <area target="" alt="佛蒙特" title="佛蒙特 : 501" href="" coords="830,94,800,109,811,121,808,134,816,142,840,148,833,130,837,110" shape="poly">
                <area target="" alt="马萨诸塞" title="马萨诸塞 : 251" href="" coords="816,146,820,163,843,164,860,160,868,170,876,169,862,144,844,149" shape="poly">
                <area target="" alt="罗德岛" title="罗德岛 : 441" href="" coords="850,167,858,177,865,177,862,163" shape="poly">
                <area target="" alt="康涅狄格" title="康涅狄格 : 091" href="" coords="820,166,830,179,850,176,848,166" shape="poly">
                <area target="" alt="新泽西" title="新泽西 : 342" href="" coords="845,181,829,183,822,171,819,185,800,178,790,180,806,206,811,214,802,222,810,239,826,237,826,201,850,190" shape="poly">
                <area target="" alt="得拉华" title="得拉华 : 103" href="" coords="790,222,762,234,770,237,786,253,795,253,797,241,796,231" shape="poly">
                <area target="" alt="马里兰" title="马里兰 : 243" href="" coords="794,221,802,221,809,238,817,240,818,254,806,259,797,250" shape="poly">
                <area target="" alt="西弗吉尼亚" title="西弗吉尼亚 : 543" href="" coords="718,240,767,239,757,247,728,295,699,297,693,280" shape="poly">
        </map>
        <div style="position:absolute; right: 0px; top: 200px;  " >
            <form  style="width: 600px; text-align: center" action="search" method="post" >
                <h6>You can hover your mouse on the map for a second to get the statecode</h6>
                <br>
                <br>
                <h6>请输入你要搜索的内容: </h6>
                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">State Code </span>
                </div>
                    <input id="input" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="statecode">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">country-code </span>
                    </div>
                    <input id="input1" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="countrycode">
                </div>
                <div class="input-group mb-3">
                    <input id="input2" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="year1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default"> <= year <= </span>
                    </div>
                    <input id="input3" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="year2">
                </div>
                <div class="input-group">
                    <span class="input-group-text" id="inputGroup-sizing-default">highway district </span>
                    <input id="input4" type="text" class="form-control" placeholder="Recipient's username" aria-label="Highway district" aria-describedby="basic-addon2" name="highway">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" onclick="equal()">=</button>
                        <button class="btn btn-outline-secondary" type="button" onclick="start_with()">Start with</button>
                        <button class="btn btn-outline-secondary" type="button" onclick="contains2()">Contains</button>
                        <button class="btn btn-outline-secondary" type="button" onclick="end_with()">End with</button>
                    </div>
                </div>  
                <div class="input-group">
                    <span class="input-group-text" id="inputGroup-sizing-default">structure_number </span>
                    <input id="input5" type="text" class="form-control" placeholder="Recipient's username" aria-label="Highway district" aria-describedby="basic-addon2" name="struct">
                    <input type="hidden" id="option_1" name="option_1" value=0>
                    <input type="hidden" id="option_2" name="option_2" value=0>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" onclick="equal1()">=</button>
                        <button class="btn btn-outline-secondary" type="button" onclick="start_with1()">Start with</button>
                        <button class="btn btn-outline-secondary" type="button" onclick="contains1()">Contains</button>
                        <button class="btn btn-outline-secondary" type="button" onclick="end_with1()">End with</button>
                        </div>
                </div>
                <script>
                    function equal(){
                        document.getElementById("option_1").value = 0;
                        console.log(document.getElementById("option_1").value);
                    };
                    function start_with(){
                        document.getElementById("option_1").value = 1;
                        console.log(document.getElementById("option_1").value);
                    };
                    function contains2(){
                        document.getElementById("option_1").value = 2;
                        console.log(document.getElementById("option_1").value);
                    };
                    function end_with(){
                        document.getElementById("option_1").value = 3;
                        console.log(document.getElementById("option_1").value);
                    };

                    function equal1(){
                        document.getElementById("option_2").value = 0;
                        console.log(document.getElementById("option_2").value);
                    };
                    function start_with1(){
                        document.getElementById("option_2").value = 1;
                        console.log(document.getElementById("option_2").value);
                    };
                    function contains1(){
                        document.getElementById("option_2").value = 2;
                        console.log(document.getElementById("option_2").value);
                    };
                    function end_with1(){
                        document.getElementById("option_2").value = 3;
                        console.log(document.getElementById("option_2").value);
                    };


                </script>
                <br>
                <div class="input-group mb-3">
                    <input type="submit" value="search!"/>
                </div>
            </form>
        </div>
    </div>
    <div >
        {% if test_data|length > 0 %}
                搜索结果:<br><br>
                <table class="imagetable" >
                <tr> 
                    <td>State_code</td>
                    <td>country_code </td>
                    <td>year</td>
                </tr>
                
                {% for item in test_data %}
                    <tr> 
                        <td>State_code: {{ item[0] }} </td>
                        <td>country_code: {{ item[1] }} </td>
                        <td>year: {{ item[2] }} </td>
                    </tr>
                {% endfor %}
                </table>
            {% endif %}
    </div>
</body>
</html>

